<ion-header>
  <ion-toolbar>
    <ion-title>Vessels</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Panel de Soporte</h2>
  <p>Selecciona la sección que deseas administrar:</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Administrar Servicios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/servicios" type="button" >
        <ion-icon slot="start" name="construct-outline"></ion-icon>
        Ir a gestión de servicios
      </ion-button>
    </ion-card-content>
  </ion-card>

  

  
</ion-content>
