ion-item.seleccionado {
  background-color: #e0f7ff;
  font-weight: bold;
  border-left: 4px solid #3880ff;
}

ion-list, ion-list *, ion-item, ion-item *, ion-label, ion-label *, h2, p, span, div, [slot], [slot="start"], [slot="end"] {
  color: #111 !important;
  --color: #111 !important;
  --ion-color-base: #111 !important;
  --ion-text-color: #111 !important;
  --ion-item-color: #111 !important;
  --ion-background-color: #fff !important;
}
